* {
    font-family: 'Montserrat', Courier, monospace;
    margin: 0;
}

div {
    
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 250px) 1fr;
    grid-template-rows: 150px 1fr;
    
}

.sidebar {
    grid-row: 1 / grid-end;
    background-color: #2dd4bf;
    color: white;
    display: grid;
    padding: 20px;
    gap: 30px;
    align-content: start;
    justify-content: start;

}


.brewition-logo {
    width: 30px;
    height: auto;
    opacity: .5;
    align-self: center;
    justify-self: center;
}

ul li {
    list-style: none;
    font-size: larger;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li img {
    width: 30px;
    height: auto;
    opacity: 0.5;
    margin-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.header {
    height: 150px;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    
}

.search-bar {
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: center;
    align-content: center;
}

.search-bar img {
    width: 30px;
}

input {
    border-radius: 5px;
    width: 80%;
}

.login-details {
    display: grid;
    grid-template-columns: 1fr 50px 50px 100px;
    justify-content: center;
    align-content: center;
}

.login-details img {
    width: 40px;
    grid-column: 2;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 10px;
    color: #2dd4bf;
}
.greeting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.greeting img {
    width: 70px;
    justify-self: center;
}

.greeting-text {
    width: 330px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    
}

button {
    padding: 7px;
    width: clamp(60px, 90%, 200px);
    background-color: #2dd4bf;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

.main-content {
    background-color: #ccfbf1;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(150px, 300px);
    grid-template-rows: 30px 300px 30px 300px;
    gap: 15px;
    padding: 20px;
    overflow: auto;
    box-shadow: inset 0 3px 3px lightgray;
    

}

.main-content .your-projects {
    grid-row: 2 / 5;
    background-color: #ccfbf1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-content: space-between;
    
}

.your-projects .card {
    width: clamp(160px, 70%, 400px);
    height: 280px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 12px;
    border-left: 15px solid #115e59;
    padding: 20px;
    display: grid;
    grid-template-rows: 35px 1fr 35px;
    align-content: start;
    justify-content: center;
}

h3 {
    font-size: 1em;
}

.card-icons {
    justify-self: end;
    align-self: center;
}

.card img {
    width: 30px;
    margin: 2px;
}

.card img:hover {
    cursor: pointer;
}

h3 {
    margin: 10px;
}

.main-content .announcements {
    grid-row: 2;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    max-height: 300px;
    padding: 20px;
}

.announcements h3, p {
    margin: 10px;
    
}

.announcement {
    border-bottom: 1px solid black;
    margin: 10px;
}

.main-content .trending {
    grid-row: 4;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    max-height: 300px;
}

.main-content div {
    background-color: white;
}